<!doctype html>
<html lang="en">
{% load static %}
{% load tz %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="{% static 'dashboard/assets/images/logo.png' %}" type="image/png" />
    <!--plugins-->
    <link href="{% static 'dashboard/assets/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/assets/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/assets/plugins/datatable/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
    <!-- loader-->
    <link href="{% static 'dashboard/assets/css/pace.min.css' %}" rel="stylesheet" />
    <script src="{% static 'dashboard/assets/js/pace.min.js' %}"></script>
    <!-- Bootstrap CSS -->
    <link href="{% static 'dashboard/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/css/bootstrap-extended.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="{% static 'dashboard/assets/css/app.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/css/icons.css' %}" rel="stylesheet">
    <!-- hightcharts -->
    <link href="{% static 'dashboard/assets/plugins/highcharts/css/highcharts-white.css' %}" rel="stylesheet" />

    <title>UG IntelliSphere - University of Ghana Intelligence Sphere</title>
</head>

<body class="bg-theme bg-theme9">
    <!--wrapper-->
    <div class="wrapper">
        <!--sidebar wrapper -->
        {% include "includes/sidebar.html" %}
        <!--end sidebar wrapper -->
        <!--start header -->
        {% include "includes/header.html" %}
        <!--end header -->
        <!--Start content -->
        {% block content %}
        {% endblock %}
        <!--end content -->
        <!--start overlay-->
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button-->
        <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            <p class="mb-0">Copyright © {% now 'Y' %}. All right reserved.</p>
        </footer>
    </div>
    <!--end wrapper-->
    <!-- Bootstrap JS -->
    <script src="{% static 'dashboard/assets/js/bootstrap.bundle.min.js' %}"></script>
    <!--plugins-->
    <script src="{% static 'dashboard/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/plugins/simplebar/js/simplebar.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/plugins/metismenu/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'dashboard/assets/plugins/chartjs/chart.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/plugins/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#Transaction-History').DataTable({
                lengthMenu: [
                    [6, 10, 20, -1],
                    [6, 10, 20, 'Todos']
                ]
            });
        });
    </script>
    <script src="{% static 'dashboard/assets/js/dashboard-eCommerce.js' %}"></script>
    <!--app JS-->
    <script src="{% static 'dashboard/assets/js/app.js' %}"></script>
    <script>
        new PerfectScrollbar('.product-list');
        new PerfectScrollbar('.customers-list');
    </script>
    
    {% block custom_scripts %}
    
    {% endblock custom_scripts %}
</body>

</html>